name: Build & Publish Images

on:
  push:
    branches:
      - main
  release:
    types: [published]

permissions:
  contents: read
  packages: write
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            ghcr.io/xasz/iscpp:latest
            ghcr.io/xasz/iscpp:${{ github.ref_name }}
